.category {
  text-align: left;
  margin: 1em auto;
  ul {
    @include liReset;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0px 5px 5px 0px;
      display: block;
    }
  }
  a {
    border: 1px solid $colorPrimary;
    padding: 0.25em 0.65em;
    display: block;
    font-size: rem(14);
    box-sizing: border-box;
    border-radius: 2em;
    background-color: transparent;
    &:hover,
    &:focus,
    &.active {
      color: #fff;
      background: $aHover;
      border: 1px solid lighten($colorPrimary, 5);
      box-shadow: none;
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
