// @mixin aSetting_nocolor($color: $colorWord, $noLine: none) {
//   color: $color;
//   text-decoration: $noLine;
//   &:hover,
//   &:focus-visible{
//     color: $aHover;
//     cursor: pointer;
//   }
// }

body {
  font-size: 1em;
  font-weight: normal;
  color: $colorWord;
  line-height: 1.45em;
  font-family: $fontFamily;
  -webkit-text-size-adjust: none;
  // --變更為全站
  &.smallSize {
    font-size: 0.938em;
  }
  &.largeSize {
    font-size: 1.125em;
  }
}
a {
  @include aSetting();
}
// kbd
kbd {
  background: #fff;
  border-radius: 0.2em;
  color: #555;
  font-weight: bold;
  display: inline-block;
  padding: 0.1em 0.6em;
  font-size: 0.938em;
  font-family: sans-serif;
  margin-right: 0.4em;
  margin-bottom: 0.1em;
  vertical-align: middle;
  border-top: 1px solid #bbb;
  border-bottom: 3px solid #bbb;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;
  ~ kbd {
    margin-left: 0.4em;
  }
  kbd {
    border: none;
  }
}

// 無障礙文字大小切換
.fontSize {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  & > button,
  & > button.disabled,
  button[disabled] {
    font-size: 0.875em;
    color: #222;
    padding: 0;
    margin: 0;
    opacity: 1;
    background: none;
    border: none;
    text-align: left;
  }
  span {
    content: '字型大小：';
    display: block;
    font-size: 0.875em;
    margin-top: 4px;
  }
  ul {
    @include liReset;
    display: flex;
    flex: 0 0 6em;

    li {
      font-size: 1rem;
      flex: 0 0 auto;
      margin: 2px;
      align-items: center;
      button,
      a {
        display: block;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        border: none;
        width: 32px;
        height: 32px;
        color: #333;
        margin: 0;
        padding: 0;
        &:hover,
        &:focus,
        &.active {
          background: $aColor;
          color: #fff;
          box-shadow: none;
        }
        &.small {
          font-size: 0.938rem;
        }
        &.large {
          font-size: 1.125rem;
        }
      }
    }
  }
  @include screen('mobile') {
    display: none;
  }
}

.fontSize.typeB {
  margin: 0;
  position: relative;
  &::before {
    display: none;
  }
  & > button {
    text-indent: -9999px;
    color: transparent;
    width: 50px;
    aspect-ratio: 1/1;
    position: relative;
    &::before {
      width: 100%;
      aspect-ratio: 1/1;
      content: 'Aa';
      text-indent: 0;
      color: #fff;
      position: absolute;
      text-align: center;
      inset: 0;
      line-height: 50px;
      z-index: 2;
      display: block;
    }
  }
  ul {
    background: #444;
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    li {
      margin: 0 auto;
      button {
        color: #fff;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background: none;
        transition: 0.3s ease-out;
        &.active {
          background: $aHover;
          color: #fff;
          box-shadow: none;
        }
        &:hover,
        &:focus-visible {
          background: $colorPrimary;
          border-inline: $aHover 2px solid;
        }
      }
    }
  }
}
