.slidedown {
  font-size: 0.938rem;
  z-index: 9999;
  position: relative;
  font-weight: 400;
  // display: flex;
  align-items: center;
  button,
  & > a {
    text-align: left;
    display: block;
    box-sizing: border-box;
    padding: 0.2em 2.5em 0.2em 1em;
    position: relative;
    transition: 0.3s ease-out;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 0;
    width: 100%;
    border: none;
    &:after {
      position: absolute;
      right: 1em;
      top: calc(50% - 0.5em);
      content: '';
      width: 1em;
      height: 1em;
      background: url(../images/icon/icon_arrow_down_dark.svg) center no-repeat;
      background-size: 0.938em;
      filter: invert(0.2);
    }

    // &:focus-visible {
    //   box-shadow: none;
    //   background: #444;
    // }
  }
  ul {
    background: #444;
    padding: 1em 1.5em;
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    @include liReset;
    li {
      flex: 1;
      box-sizing: border-box;
      margin: 0;
      a {
        display: block;
        color: #fff;
        padding: 0.5em 0.8em;
        transition: 0.3s ease-out;
        &:hover,
        &:focus-visible {
          background: $colorPrimary;
          border-inline: $aHover 2px solid;
        }
      }
    }
  }
}

// @include screen('mobileMin') {
//   .language.typeB {
//     width: auto;
//     & > button,
//     & > a {
//       text-indent: -9999px;
//       color: transparent;
//       width: 50px;
//       aspect-ratio: 1/1;
//       position: relative;
//       background: none;
//       padding: 0;
//       border: none;
//       &::before {
//         content: '';
//         width: 100%;
//         height: auto;
//         position: absolute;
//         inset: 0;
//         z-index: 2;
//         aspect-ratio: 1/1;
//         display: block;
//         mask: url('../images/icon/icon_global2.svg') center no-repeat;
//         mask-size: 40%;
//         background: #fff;
//       }
//       &::after {
//         display: none;
//       }
//     }
//     ul {
//       width: 100px;
//       left: 50%;
//       text-align: center;
//       transform: translateX(-50%);
//       li a {
//         padding: 5px;
//       }
//     }
//   }
// }
