//search

.mobileSearchBtn {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  text-indent: -9999px;
  color: transparent;
  width: 60px;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  border: none;
  &::before {
    content: '';
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    z-index: 2;
    aspect-ratio: 1/1;
    display: block;
    background: url('../images/basic/icon_search.svg') center no-repeat;
    background-size: 24px;
    //mask-size: 40%;
    //background: $colorPrimary;
  }
  &.active {
    display: block;
  }
}

.webSearchBtn {
  position: relative;
  & > button {
    text-indent: -9999px;
    color: transparent;
    width: 50px;
    aspect-ratio: 1/1;
    position: relative;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    &::before {
      content: '';
      width: 100%;
      height: auto;
      position: absolute;
      inset: 0;
      z-index: 2;
      aspect-ratio: 1/1;
      display: block;
      mask: url('../images/icon/icon_search2.svg') center no-repeat;
      mask-size: 40%;
      background: #fff;
    }
  }
}
.webSearch {
  vertical-align: top;
  font-size: 0.938em;
  margin: 1em 0.5em;
  box-sizing: border-box;
  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  &.active {
    display: flex;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px;
    background: #444;
    label {
      display: none;
    }
    .formGrp {
      display: flex;
      flex-grow: 1;
      input {
        flex-grow: 1;
      }
    }
    .keywordHot ul a {
      color: #fff;
    }
  }
  &.mobile {
    display: none;
    width: 100% !important;
    left: 0;
    right: 0;
    margin: 0;
    position: absolute;
    .content {
      padding: 10px;
      display: flex;
      flex-wrap: nowrap;
      background: #444;
    }
    .formGrp {
      display: flex;
      flex-grow: 1;
      input {
        flex-grow: 1;
        margin: 0;
        margin-right: 8px;
      }
    }
    .keywordHot {
      ul {
        a {
          color: #fff;
        }
      }
    }
  }
  label {
    font-size: 0em;
  }
  .formGrp {
    flex: 0 0 auto;
    margin: 0 0 0.5em;
    display: flex;
    align-items: center;
    input {
      margin: 0 0.5em 0 0;
      padding: 0.5em 0.8em;
      box-shadow: none;
      width: auto;
      border-radius: 2em;
      &[type='submit'] {
        min-width: auto;
        padding: 0.2em 0.8em;
      }
      &:focus-visible {
        box-shadow: 0 0px 0px 2px $aFocus;
      }
    }
    button,
    .btn,
    .btnSearch {
      min-width: auto;
      padding: 0.5em 1em;
      margin: 0;
      border-radius: 2em;
      @include screen('mobile') {
        padding: 0.5em 0.8em;
      }
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
  .btnGrp {
    flex: 0 0 auto;
    padding: 0 0 0 0.5em;
    margin: 0 0 0.5em;
    button,
    .btn,
    .btnSearch {
      min-width: auto;
      padding: 0.5em 1em;
      margin: 0;
      background-color: $colorSecondary;
      border: none;
      border-radius: 2em;
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
  .keywordHot {
    flex: 1 1 100%;
    @include screen('mobile') {
      display: none;
    }
    ul {
      font-size: 0.875em;
      line-height: 1.65em;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0 0.5em;
        flex: 0 0 auto;
      }
      a {
        @include aSetting($colorWord);
      }
    }
  }
}
// mobileSearch
.webSearchBg {
  position: fixed;
  inset: 0;
  z-index: 91;
  background: rgba(#fff, 0.8);
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s linear;
  &.active {
    transform: translateY(0%);
    opacity: 1;
  }
}
.mobileSearch {
  width: 100%;
  max-width: 100%;
  min-width: auto;
  padding: 0.8em 0.3em;
  display: block;
  height: auto;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 98;
  background: #333;
  transform: translateY(-100%);
  opacity: 0;
  margin: 0;
  transition: all 0.3s linear;
  &.active {
    transform: translateY(0%);
    opacity: 1;
  }
  label {
    font-size: 0em;
    line-height: 0;
  }
  .formGrp {
    display: flex;
    align-items: center;
    label {
      display: none;
      flex: 0 0 0%;
    }
    input {
      margin: 0.5em;
      padding: 0.5em;
      flex: 1 1 50%;
      max-width: 70%;
      &[type='submit'] {
        flex: 0 1 15%;
        margin: 0.5em;
      }
    }
    .btn,
    .btnSearch {
      min-width: auto;
      padding: 0.5em 0.8em;
      margin: 0;
      flex: 1 1 20%;
      max-width: 25%;
      &:hover,
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
  .btnGrp {
    flex: 1 1 auto;
    padding: 0.25em 0.5em;
    border-bottom: solid 1px #444;
    box-sizing: border-box;
    text-align: right;
    .btn {
      width: auto;
      padding: 0.2em 0.5em;
      margin: 0;
      background: transparent;
      font-size: 0.875rem;
      color: #ddd;
      border: none;
      &:hover,
      &:focus-visible {
        color: lighten($aHover, 10);
      }
    }
  }
  .keywordHot {
    flex: 1 1 100%;
    ul {
      font-size: 0.875em;
      line-height: 1.65em;
      margin: 0;
      padding: 0.5em 0 0 0.5em;
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0.5em;
        flex: 0 0 auto;
      }
      a {
        color: #fff;
        &:hover,
        &:focus-visible {
          color: lighten($aHover, 10);
        }
      }
    }
  }
}

.webSearch.typeB {
  position: absolute;
  right: 15px;
  display: none;
  width: 40%;
  margin: 0;
  z-index: 100;
  .content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background: #444;
  }
  .formGrp {
    display: flex;
    flex-grow: 1;
    input {
      flex-grow: 1;
      margin: 0;
      margin-right: 8px;
    }
  }
  .keywordHot ul a {
    color: #fff;
  }
  @include screen('tablet') {
    &.active {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}
