@charset "utf-8";
// 文章標題
h1.title,
h2.title {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.5em 0;
}
// .tt{ color: #222; }
.cp {
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #f1f1f1;
    overflow: hidden;
    padding: 0.5em 0.5em 0.2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    span {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  table {
    background: #fff;
  }
  img {
    &.floatLeft {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.floatRight {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
  .publishInfo {
    font-size: 0.875em;
    line-height: 1.5em;
    list-style: none;
    margin: 0 0 0.7em 0;
    border-left: solid 5px $colorPrimary;
    padding: 0.8em 1.5em 0.8em;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    li {
      flex: 1 1 calc(100% / 3);
      margin-bottom: 0.5em;
      @include screen('tablet') {
        flex: 1 1 calc(100% / 2);
      }
      @include screen('mobile') {
        flex: 1 1 calc(100% / 1);
      }
    }
  }
}

// 檔案下載
.fileDownload {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $colorPrimary;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.42em;
      left: 0.1em;
      color: #666;
    }

    .fileName {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    //notice 保留file_比較清楚知道是對應什麼
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;

          &:hover,
          &:focus-visible {
            color: #fff;
          }
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          &:hover,
          &:focus-visible {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          &:hover,
          &:focus-visible {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          &:hover,
          &:focus-visible {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          &:hover,
          &:focus-visible {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          &:hover,
          &:focus-visible {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          &:hover,
          &:focus-visible {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          &:hover,
          &:focus-visible {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          &:hover,
          &:focus-visible {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          &:hover,
          &:focus-visible {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          &:hover,
          &:focus-visible {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}
// 外部連結
.webLink {
  margin: 1em 0;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $colorPrimary;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.25em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.25em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting($colorWord);
    }
  }
}
