.totalAmount {
  border-radius: 4px;
  background-color: $colorLightGray;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  margin: 1em 0;
  font-weight: bold;
  span {
    margin: 0 0.5em;
    display: inline-block;
    color: $colorRed;
  }
}

// 日曆calendar_Tb
.calendarTB {
  margin: 0 0 20px;
  table {
    word-break: break-all;
    table-layout: fixed;
    thead {
      margin-bottom: 5px;
    }
    tbody {
      border-top: 1px solid #ccc;
    }
    tr {
      background-color: #fff;
    }
    tr:hover {
      background-color: #fffbec;
      transition: 0.2s;
    }
    th {
      background-color: #ddd !important;
      border: 1px solid #f8f3e4;
      border-bottom: 5px solid #f8f3e4;
      color: #333;
      padding: 0.5em 1em;
      width: 14.28%;
      font-size: 1.25rem;
      font-weight: 400;
      text-align: center;
      &.weekend {
        background-color: $colorLight !important;
      }
    }
    td {
      position: relative;
      // min-height: 130px!important;
      // background-color: #fff !important;
      border: 1px solid #e5e5e5;
      padding: 2px;
      @include screen('mobile') {
        min-height: 65px;
        padding: 2px 7px 2px 17% !important;
      }
      &:after {
        content: '';
        width: 1px;
        height: 20px;
        float: left;
        background-color: #fff;
        border: none;
        @include screen('mobile') {
          float: none;
          height: auto;
          background-color: red;
        }
      }
      &:before {
        position: absolute;
        width: 15%;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 5px;
        background-color: #eee;
        color: #333;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        box-sizing: border-box;
      }
      &.otherMonth {
        .numDate {
          color: #d5d5d5;
        }
        @include screen('mobile') {
          display: none;
        }
      }
    }
    .numDate {
      text-align: center;
      color: #7a7a7a;
      font-size: 1.125rem;
      font-weight: bolder;
      width: 100%;
      border-bottom: 1px dotted $colorGray;
      @include screen('mobile') {
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        top: 30px;
        width: 15%;
        border: none;
      }
    }
  }

  .periodContent {
    margin: 5px 0 0;
    text-align: center;
    .applyPeriod {
      background: $colorSecondary;
      padding: 0.5em;
      letter-spacing: 0.5px;
      border-radius: 4px;
      margin-bottom: 5px;
      &.disabled {
        background-color: $colorLightGray;
      }
      span {
        display: block;
      }
      .time {
        border-bottom: 1px dotted #fff;
      }
      .quota {
        font-size: rem(15);
        color: #555;
        em {
          font-style: normal;
          padding: 0 3px;
          color: $colorRed;
          font-weight: bold;
        }
      }
      .btnGrp {
        padding: 0;
        margin-top: 5px;
        justify-content: center;
      }
      .btn {
        padding: 0.25em;
        font-size: rem(15);
      }
    }
  }
}

.serviceApply {
  background: #fff url(../images/paperbg01.png);
  padding: 1em 2em;
  margin-bottom: 1em;
  @include screen('mobile') {
    padding: 1em 15px;
  }
  .title {
    text-align: center;
    font-size: 2em;
  }
  .dateSelect {
    font-size: 1.5rem;
    margin-bottom: 1em;
    .prev,
    .next {
      position: relative;
    }
    .dateRange {
      margin: 0 10px;
      & + .dateRange {
        &::before {
          content: '-';
          display: inline-block;
          margin-right: 20px;
        }
      }
      span {
        color: $colorRed;
        font-family: 'Century Gothic';
      }
    }
  }
}

.modal {
  border-radius: 10px;
  .modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1em;
  }
}
.listModal {
  .applyList {
    @include liReset;
    li {
      display: flex;
      padding: 0.8em 0;
      border-bottom: 1px dashed $colorGray;
      &:first-of-type {
        border-top: 1px dashed $colorGray;
      }
      span {
        display: block;
        margin: 0 1em;
      }
    }
  }
}

.applyModal {
  width: 800px;
  max-width: 98%;
}

//============== 組織圖 ================
.organization {
  ul {
    @include liReset;
    display: flex;
    justify-content: center;
    position: relative;
    li {
      position: relative;
      padding-top: 30px;
      &:before,
      &:after {
        box-sizing: border-box;
      }
      &.inner {
        margin-top: -30px;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em;
      min-height: 60px;
      background-color: $colorLightGray;
      margin: 0 5px 30px;
      text-align: center;
      border-radius: 4px;
      color: $colorWord;
      transition: 0.3s;
      &:hover {
        filter: brightness(95%);
      }
    }
  }
  .administration,
  .director {
    > li {
      > a {
        width: 30%;
        margin: 0 auto 30px;
        background-color: mix($colorPrimary, #fff, 50%);
      }
    }
  }

  .administration {
    > li {
      > a {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: calc(50% - 1px);
          top: 100%;
          width: 2px;
          height: 30px;
          background-color: $colorLine;
        }
      }
    }
  }

  //主任秘書
  .director {
    > li {
      margin-top: -30px;
      > a {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: calc(50% - 1px);
          top: 100%;
          width: 2px;
          height: 30px;
          background-color: $colorLine;
        }
      }
    }
  }

  //諮詢會層級
  .subdirector {
    flex-wrap: wrap;
    justify-content: flex-start;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50% - 1px);
      width: 2px;
      height: 100%;
      background-color: $colorLine;
    }
    > li {
      flex-shrink: 1;
      flex-basis: calc(25% - 15px);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 30px;
        border-top: 2px solid $colorLine;
      }
      &:nth-of-type(4n + 1) {
        &:before {
          width: calc(150% + 30px);
          left: 50%;
          border-left: 2px dotted $colorLine;
        }
      }
      &:nth-of-type(4n + 2) {
        margin-right: 30px;
        &:before {
          left: 50%;
          width: calc(50% + 30px);
          border-left: 2px dotted $colorLine;
        }
      }
      &:nth-of-type(4n + 3) {
        margin-left: 30px;
        &:before {
          right: 50%;
          width: calc(50% + 30px);
          border-right: 2px dotted $colorLine;
        }
      }
      &:nth-of-type(4n) {
        &:before {
          width: 100%;
          right: 50%;
          border-right: 2px dotted $colorLine;
        }
      }
      a {
        background-color: mix($colorLight, #fff, 80%);
      }
      .inner {
        width: 100%;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: calc(50% - 1px);
          width: 1px;
          height: 30px;
          border-left: 2px dotted $colorLine;
        }
      }
    }
  }

  .department {
    clear: both;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 5%;
      width: 90%;
      height: 2px;
      background-color: $colorLine;
    }
    > li {
      flex: 1 1 10%;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 30px;
        width: calc(50% + 5px);
        border-left: 2px solid $colorLine;
      }
    }
    li {
      &.mission {
        &:before {
          background-color: transparent;
          border-left: 2px dotted $colorLine;
        }
      }
    }
  }
}
