* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  &.noscroll {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
}
.row {
  @include makeRow();
  & > div {
    box-sizing: border-box;
  }
}
// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  @include screen('mobile') {
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  margin: 0 auto;
  max-width: $containerMax; //請看_variable.scss
  position: relative;
  @include containerFixed;
}
.main {
  position: relative;
  margin: 0 auto 5em;
  @include screen('mobile') {
    padding-top: 60px;
  }
  // 可先設定一個中央區塊最大寬，限制accessKey對齊
  h2 {
    line-height: 1.25em;
    letter-spacing: 0.6px;
    margin-bottom: 2rem;
  }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerPage ClassName
.innerPage {
  position: relative;
  background: linear-gradient(180deg, rgba(243, 241, 132, 0.8) 0%, rgba(234, 242, 132, 0.5) 15%, rgba(227, 243, 132, 0) 28%);
  margin-top: 106px;
  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 106px;
    background: url(../images/booktop01.svg) no-repeat center bottom;
    background-size: 100%;
  }
  & > .container {
    padding-top: 1em;
    @include gutter(); //gutter 代表左右要留白
    //display: flex;
  }
  .centerBlock {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
  .leftBlock {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    margin-right: 40px;
    align-self: flex-start;
    position: sticky;
    top: 50px;
    &.hidden {
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    & + .centerBlock {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }
    @include screen('tablet') {
      display: none;
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
.hidden {
  display: none;
}
