//http://w3bits.com/sass-mixins/
@mixin screen($size) {
  $tabletMin: '(min-width: #{$screenSmMax})'; // min-width <= 991px
  $mobileMin: '(min-width: #{$screenXsMax})'; // min-width <= 767px
  $xsMobileMin: '(min-width: #{$screenXsMobileMax})'; // min-width <= 575px

  $desktop: '(min-width: #{$screenLg})'; // max-width >= 1400px
  $notebook: '(max-width: #{$screenMdMax})'; // max-width <= 1399px
  $tablet: '(max-width: #{$screenSmMax})'; // max-width <= 991px
  $mobile: '(max-width: #{$screenXsMax})'; // max-width <= 767px
  $xsMobile: '(max-width: #{$screenXsMobileMax})'; // max-width <= 575px
  @if $size==desktop {
    @media screen and #{$desktop} {
      @content;
    }
  } @else if $size==notebook {
    @media screen and #{$notebook} {
      @content;
    }
  } @else if $size==tabletMin {
    @media screen and #{$tabletMin} {
      @content;
    }
  } @else if $size==tablet {
    @media screen and #{$tablet} {
      @content;
    }
  } @else if $size==mobile {
    @media screen and #{$mobile} {
      @content;
    }
  } @else if $size==xsMobile {
    @media screen and #{$xsMobile} {
      @content;
    }
  } @else if $size==mobileMin {
    @media screen and #{$mobileMin} {
      @content;
    }
  } @else if $size==xsMobileMin {
    @media screen and #{$xsMobileMin} {
      @content;
    }
  } @else {
    @media screen and #{$size} {
      @content;
    }
  }
}
@mixin screenWidth($sizeWidth) {
  $sizeWidthUse: '(max-width: #{$sizeWidth}px)';
  @media screen and #{$sizeWidthUse} {
    @content;
  }
}
@mixin screenWidthMin($sizeWidth) {
  $sizeWidthUse: '(min-width: #{$sizeWidth}px)';
  @media screen and #{$sizeWidthUse} {
    @content;
  }
}
// 範例：
// .wrapper {
//   margin: 0 auto;
//   width: 100%;
//   @include screen('desktop') {
//       width: 90%; }
//   @include screen('notebook') {
//       width: 85%; }
//   @include screen('tablet') {
//       width: 55%; }
//   @include screen('mobile') {
//       width: 85%; }
//   @include screen('xsMobile') {
//       width: 85%; }
// }

// @include screen('desktop'){}            // min-width: 1400px
// @include screen('notebook'){}           // max-width: 1399px
// @include screen('tablet'){}             // max-width: 991px
// @include screen('mobile'){}             // max-width: 767px
// @include screen('xsMobile'){}          // max-width: 575px

//output
// .wrapper {
//   margin: 0 auto;
//   width: 100%; }
//   @media screen and (min-width: 1400px) {
//     .wrapper {
//       width: 90%; } }
//   @media screen and (max-width: 1399px) {
//     .wrapper {
//       width: 85%; } }
//   @media screen and (max-width: 991px) {
//     .wrapper {
//       width: 55%; } }
//   @media screen and (max-width: 767px) {
//     .wrapper {
//       width: 85%; } }
//   @media screen and (max-width: 575px) {
//     .wrapper {
//       width: 85%; }
// }
