.accordion {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5em;
      .accordionList {
        width: 100%;
        border: none;
        border-radius: 0;
        display: block;
        text-align: left;
        background-color: #21baff;
        color: #fff;
        text-decoration: none;
        padding: 5px 50px 5px 20px;
        position: relative;
      }
      &.active .accordionArrow {
        top: calc(50% - 2px);
        transform: rotate(225deg);
      }
    }
  }
  .accordionContent {
    line-height: 1.45em;
    transition: height 0.3s linear;
    overflow: hidden;
    display: none;
    .content {
      padding: 10px;
    }
  }
  .accordionState {
    margin-left: 10px;
  }
  .accordionArrow {
    position: absolute;
    top: calc(50% - 7px);
    right: 30px;
    transform: rotate(45deg);
    transform-origin: center center;
    &:after {
      content: '';
      border: 2px solid #fff;
      border-top: none;
      border-left: none;
      display: block;
      width: 8px;
      height: 8px;
    }
    &.open {
      &:after {
        top: 8px;
        transform: rotate(225deg);
      }
    }
  }
}
//
