.accordion {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5em;
      .accordionList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: none;
        border-radius: 0;
        text-align: left;
        background-color: $colorLightGray;
        color: #fff;
        text-decoration: none;
        padding: 5px 50px 5px 20px;
        position: relative;

        h3,
        h4 {
          margin: 0.5em 0;
          color: $colorWord;
        }
      }
      &.active {
        .accordionArrow {
          top: calc(50% - 2px);
          transform: rotate(225deg);
        }
        .accordionContent {
          display: block;
        }
      }
    }
  }
  .accordionContent {
    line-height: 1.45em;
    transition: height 0.3s linear;
    overflow: hidden;
    display: none;
    padding: 1em;
    // @include screen('mobile') {
    //   padding: 1em 0;
    // }
    .content {
      white-space: nowrap;
    }
  }
  .accordionState {
    margin-left: 10px;
  }
  .accordionArrow {
    position: absolute;
    top: calc(50% - 7px);
    right: 30px;
    transform: rotate(45deg);
    transform-origin: center center;
    &:after {
      content: '';
      border: 2px solid #333;
      border-top: none;
      border-left: none;
      display: block;
      width: 8px;
      height: 8px;
    }
    &.open {
      &:after {
        top: 8px;
        transform: rotate(225deg);
      }
    }
  }
}
//
