// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters

// 選項次層
.submenu {
  ul,
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
  }
  li {
    flex: 1 1 48%;
    margin-bottom: 10px;
    border-radius: 5px;
    &:nth-child(odd) {
      margin-right: 10px;
    }

    @include screen('mobile') {
      flex: 1 1 100%;
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
    a {
      border: 1px solid #ddd;
      padding: 1em 1em 1em 2.5em;
      display: block;
      vertical-align: top;
      position: relative;
      height: 100%;
      box-sizing: border-box;
      @include aSetting($colorWord);
      // @include textOverflow;
      .num {
        position: absolute;
        width: 1em;
        top: 1em;
        left: 0.5em;
        text-align: right;
        &:after {
          content: '.';
        }
      }
      &:hover,
      &:focus-visible {
        border: 1px solid $aHover;
        color: $aHover;
      }
    }
  }
}
