.lp {
  table {
    td {
      a {
        @include aSetting($colorWord);
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
    }
  }
  .list {
    & > ul,
    ol {
      list-style-type: none;
      padding: 0;
      border-top: 2px solid $colorPrimary;
      & > li {
        padding: 0.75em 0 0.5em;
        border-bottom: 1px solid #ddd;
        position: relative; // outline: 1px solid blue;
        .tag {
          margin-left: 2em;
        }
        & > a {
          display: block;
          padding-left: 2em;
          position: relative;
          line-height: 1.45em;
          font-weight: bold;
          color: $colorWord;
          &:hover {
            color: $aHover;
          }
          .num {
            width: 1.5em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
              content: '.';
              display: inline-block;
            }
          }
        }
        span.dept {
          display: inline-block;
          font-size: 0.938em;
          font-weight: normal;
          @include screen('mobile') {
            display: block;
          }
        }
        time {
          display: block;
          color: #aaa;
          font-size: 0.938em;
          font-weight: normal;
        }
      }
    }
  }
}

.bookList {
  margin: 1em 0;
  border-top: 1px solid $colorLightGray;
  .bookInfo {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0 20px;
    }
    li {
      flex-basis: calc(50% - 10px);
      max-width: 50%;
    }
  }
}
.commodityList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .itemBlock {
    flex-basis: calc(50% - 15px);
    border-bottom: 0;
    @include screen('mobile') {
      flex-basis: 100%;
    }
    .bookCover {
      flex-basis: 33.33333%;
    }
  }
}
.itemBlock {
  display: flex;
  gap: 30px;
  padding: 1em 0;
  border-bottom: 1px solid $colorLightGray;
  .bookCover {
    flex: 0 0 20%;
    a {
      display: flex;
    }
    img {
      width: 100%;
      border: 1px solid $colorGray;
    }
  }
  .textContainer {
    flex-grow: 1;
  }
  .blockTitle {
    font-size: rem(20);
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .blockInfo {
    ul {
      @include liReset;
    }
    li {
      word-break: break-word;
      margin-bottom: 10px;
    }
    p {
      word-break: break-word;
      @include textLine(3, 1.6em);
    }
  }
  .moreLink {
    display: flex;
    justify-content: flex-end;
    a {
      display: block;
      padding: 0.5em 1.5em;
      background-color: $aColor;
      margin: 5px;
      color: #fff;
      border-radius: 2em;
      &:hover {
        background-color: $aHover;
      }
      i {
        margin: 0 0.25em;
      }
    }
  }
  .orderLink {
    display: flex;
    align-items: center;
    .btn {
      margin-right: 10px;
    }
    .inventory {
      span {
        color: $colorRed;
      }
    }
  }
}
.eventList {
  .itemBlock {
    display: block;
  }
}
