.lp {
  table {
    td {
      a {
        @include aSetting($colorWord);
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
    }
  }
  .list {
    & > ul,
    ol {
      list-style-type: none;
      padding: 0;
      border-top: 2px solid $colorPrimary;
      & > li {
        padding: 0.75em 0 0.5em;
        border-bottom: 1px solid #ddd;
        position: relative; // outline: 1px solid blue;
        .tag {
          margin-left: 2em;
        }
        & > a {
          display: block;
          padding-left: 2em;
          position: relative;
          line-height: 1.45em;
          font-weight: bold;
          color: $colorWord;
          &:hover {
            color: $aHover;
          }
          .num {
            width: 1.5em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
            &:after {
              content: '.';
              display: inline-block;
            }
          }
        }
        span.dept {
          display: inline-block;
          font-size: 0.938em;
          font-weight: normal;
          @include screen('mobile') {
            display: block;
          }
        }
        time {
          display: block;
          color: #aaa;
          font-size: 0.938em;
          font-weight: normal;
        }
      }
    }
  }
}

.bookList {
  margin: 1em 0;
  border-top: 1px solid $colorLightGray;
}

.itemBlock {
  display: flex;
  gap: 30px;
  padding: 1em 0;
  border-bottom: 1px solid $colorLightGray;
  .bookCover {
    flex: 0 0 20%;
    a {
      display: flex;
      border: 1px solid $colorGray;
      img {
        width: 100%;
      }
    }
  }
  .textContainer {
    .bookTitle {
      font-size: rem(24);
      font-weight: bold;
      margin-bottom: 1em;
    }
    .bookInfo {
      ul {
        @include liReset;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
      }
      li {
        flex-basis: calc(50% - 10px);
        max-width: 50%;
        word-break: break-word;
      }
      p {
        word-break: break-word;
        @include textLine(3, 1.6em);
      }
    }
    .moreLink {
      display: flex;
      justify-content: flex-end;
      a {
        display: block;
        padding: 0.5em 1.5em;
        background-color: $aColor;
        margin: 5px;
        color: #fff;
        border-radius: 2em;
        &:hover {
          background-color: $aHover;
        }
        i {
          margin: 0 0.25em;
        }
      }
    }
  }
}
