//submenu animation
@keyframes showMenu {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
// pc版 條列menu
.mainMenu {
  box-sizing: border-box;
  position: relative;
  z-index: 50;
  clear: both;
  margin-bottom: 0.5em;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    & > ul {
      width: 100%;
      max-width: $containerMax;
      padding: 0 15px;
      margin: 0 auto;
    }
  }
  @include screen('mobile') {
    display: none;
  }
  // 預設選單 ul
  & > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // 第一層選單樣式
    & > li {
      flex-basis: calc((100% - 30px) / 8);
      & > a {
        padding: 0 1em;
        min-height: 2.5em;
        font-weight: bold;
        line-height: 2.5em;
        white-space: nowrap;
        color: $colorWord;
        box-sizing: border-box;
        // &:focus-visible {
        //   box-shadow: 0 0 0 2px inset $aHover;
        // }
      }
      &.hasChild {
        & > a {
          &:after {
            content: '';
            width: 4px;
            height: 4px;
            display: inline-block;
            margin-left: 0.5em;
            vertical-align: middle;
            border: 2px solid lighten($colorWord, 40);
            transform: rotate(135deg);
            border-bottom: none;
            border-left: none;
            margin-bottom: 0.2em;
          }
        }
      }
      &.active,
      &:hover {
        & > a {
          color: $aHover;
          &:after {
            border: 2px solid $aHover;
            border-bottom: none;
            border-left: none;
          }
        }
      }
    }
  }
  ul {
    li {
      position: relative;

      a {
        display: block;
        text-decoration: none;
        font-size: 1.125em;
      }
      ul {
        display: none;
        overflow: visible;
        background: #fff;
        z-index: 999999;
        position: absolute;
        top: auto;
        left: 0;
        opacity: 0;
        list-style: none;
        text-align: left;
        font-size: 0.875em;
        border-radius: 0 0 40px 40px;
        padding: 1em;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
        // transition: 0.3s $cubic;
        // 第二層選單樣式
        li {
          a {
            padding: 0.6em 1.2em;
            font-weight: bold;
            color: $colorWord;
            border-radius: 2em;
            &:hover,
            &:focus-visible {
              color: #fff;
              background: $aHover;
            }
          }
        }
        li.hasChild {
          & > ul {
            z-index: 999;
          }
          & > a {
            padding-right: 2em;

            &:after {
              content: '';
              position: absolute;
              right: 10px;
              top: 1.3em;
              width: 6px;
              height: 6px;
              border: 2px solid #fff;
              transform: rotate(45deg);
              border-bottom: none;
              border-left: none;
            }
          }
        }
        ul {
          top: 0;
          left: 100%;
          animation: none;
          font-size: 1em;
        }
      }
      &.active {
        & > ul {
          opacity: 1;
          display: block;
        }
      }
    }
  }
  & > ul {
    & > li {
      &.active {
        & > ul {
          animation: showMenu 0.3s $cubic;
        }
      }
      &.leftSlider {
        ul ul {
          left: auto;
          right: 100%;
        }
      }
    }
  }
}
