.modal {
  position: fixed;
  display: none;
  width: 400px;
  height: 300px;
  background: #fff;
  z-index: 99999999;
  top: 5%;
  left: 50%;
  margin-left: -200px;
  padding: 1em 1em 1em;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 1px 1px 15px RGBA(0, 0, 0, 0.5);
  animation: scaleUp 0.5s ease-out;
  h2 {
    border-bottom: 1px solid $colorPrimary;
    padding-bottom: 0.5em;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    min-width: auto;
    height: 30px;
    font-size: 0em;
    border: none;
    display: block;
    padding: 0;
    background: url(../images/basic/icon_close.svg) no-repeat center center;
    &:hover,
    &:focus-visible {
      cursor: pointer;
    }
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(1) translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
.modalOverlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: RGBA(0, 0, 0, 0.5);
  z-index: 99999998;
}
