//http://lab.25sprout.com/responsive_table/
table {
  // 無障礙 caption 標題預設隱藏
  // caption {
  //   @include srOnly;
  // }
  width: 100%;
  border-collapse: collapse;
  @include screen('xsMobile') {
    width: 100%;
  }
  th,
  td {
    padding: 0.5em;
    text-align: left;
  }
  caption {
    font-weight: bold;
    text-align: left;
    font-size: 1.125rem;
    margin-bottom: 0.5em;
    .summary {
      display: block;
      font-size: 1em;
      font-weight: normal;
    }
  }
  td {
    border: #ddd 1px solid;
    word-break: break-all;
    a {
      word-break: break-all;
    }
  }
  th {
    background-color: #f3f3f3;
    color: #333;
    border: #ddd 1px solid;
    text-align: center;
    white-space: nowrap;
  }
  &.tableHover {
    tr:hover {
      background: #f3f3f3;
    }
  }
  &.tableSprite {
    tr:nth-child(even) {
      background: #f5f5f5;
    }
  }
}
.tableList {
  @include screen('xsMobile') {
    background-color: transparent; //Force table to not be like tables anymore
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
      margin-bottom: 10px; // background-color: #333;
    }
    td {
      // Behave  like a "row"
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 0.5em;
      padding-top: 2em;

      white-space: normal;
      text-align: left;
    }
    &.loaded td {
      &:before {
        content: attr(data-title);
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: normal;
        color: #888;
        font-size: 0.688rem;
      }
    }
  }
}
// fixThTable
.fixThTable {
  margin: 1em 0;
  @include screen('mobile') {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  table {
    @include screen('mobile') {
      display: block;
      width: 100%;
      // overflow:hidden;
      overflow-x: scroll;
      // -webkit-overflow-scrolling: touch;
      // -webkit-transform: translate3d(0, 0, 0);
      padding-bottom: 1em; //padding-bottom 是為預留水平捲軸的位置
    }
  }
  th,
  td {
    width: 10em;
    padding: 0.8em 0;
    text-align: center;
    line-height: 1.2;
    @include screen('mobile') {
      display: inline-block;
      margin-right: -6px;
      margin-left: 0;
      margin-top: -1px;
    }
  }
  th {
    &:first-child {
      width: 8em;
      white-space: normal;
      @include screen('mobile') {
        position: absolute;
        left: 0;
        top: auto;
      }
    }
  }
  tr {
    @include screen('mobile') {
      display: block;
      clear: both;
      white-space: nowrap;
      width: auto;
      padding-left: 8em;
      &:first-child {
        border-top: #ddd 1px solid;
      }
    }
  }
}
.tableWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  @include screen('mobile') {
    width: 100%;
    display: block;
    @include clearfix;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 1em;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    table {
      width: 100%;
      // display:none;
      min-width: 600px;
    }
  }
}
.scrollTable {
  min-width: 600px;
  caption {
    @include srOnly;
  }
}
// .scrolTableWrapper {
//   position: relative;
//   -webkit-overflow-scrolling: touch;
//   // -webkit-transform: translate3d(0, 0, 0);
//   overflow-y: hidden;
// }
// .scrolTableContainer {
//   overflow: auto;
// }
// .scrolTableNav {
//   display: none;
//   position: absolute;
//   width: 60px;
//   height: 100%;
//   cursor: pointer;
//   z-index: 9;
// }
// .scrolTableNav.scrolTableNavLeft {
//   left: 0;
//   @include gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), horizontal);
//   .tableArrowLeft {
//     position: fixed;
//     left: 0em;
//     top: 0em;
//     display: none;
//     z-index: 9;
//     @include screen('mobile') {
//       display: block;
//     }
//     &:before {
//       position: absolute;
//       top: 0em;
//       left: -0.2em;
//       width: 30px;
//       height: 30px;
//       background: url(../vendor/scrolltable/images/arrow-left.png) no-repeat 10px center;
//       content: '';
//       z-index: 2;
//       // animation: arrowLeft .3s linear infinite alternate;
//     }
//   }
// }
// .scrolTableNav.scrolTableNavRight {
//   right: 0;
//   @include gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), horizontal);
//   .tableArrowRight {
//     position: fixed;
//     top: 0em;
//     right: 0em;
//     display: none;
//     z-index: 9;
//     @include screen('mobile') {
//       display: block;
//     }
//     &:before {
//       position: absolute;
//       top: 0em;
//       right: -0.2em;
//       width: 30px;
//       height: 30px;
//       background: url(../vendor/scrolltable/images/arrow-right.png) no-repeat right 10px center;
//       content: '';
//       z-index: 2;
//     }
//   }
// }
// @keyframes arrowLeft {
//   from {
//     left: -0.2em;
//   }
//   to {
//     left: 0.3em;
//   }
// }
// @keyframes arrowRight {
//   from {
//     right: -0.2em;
//   }
//   to {
//     right: 0.3em;
//   }
// }

// scrolltable style
.tableWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.scrollTableNav {
  width: 60px;
  position: absolute;
  transition: 0.5s opacity;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 33%, rgba(255, 255, 255, 0.6) 39%, rgba(255, 255, 255, 0) 100%);
}
.scrollTableNavLeft {
  left: 0;
  display: none;
}
.scrollTableNavRight {
  right: 0;
  transform: rotateY(180deg);
}
.scrollTableNavLeft .scrollTableLeftBtn,
.scrollTableNavRight .scrollTableRightBtn {
  width: 35px;
  height: 100%;
  background: url(../images/basic/icon_ar.svg) no-repeat center;
  cursor: pointer;
}
