.thumbnail {
  box-shadow: 0 0 3em -1.5em rgba(0, 0, 0, 0.5);
  background: #fff;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 12px 3em -1em rgba(0, 0, 0, 0.5);
  }

  a {
    display: block;
    @include aSetting(#555);
    position: relative;
    &:focus-visible {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        box-shadow: 0px 0px 0px 1px $aHover inset;
      }
    }
  }
  .imgContainer {
    @include aspectRatio(4, 3, cover);
    margin-bottom: 0.5em;
  }
  h2,
  h3,
  h4 {
    margin: 0.2em 0;
  }
  .caption {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
  }
  .btnGrp {
    padding: 0.2em 0;
  }
  hr {
    width: 90%;
    margin: 0.1em auto 1em;
  }
}
