@media print {
  %no-bg {
    background: none;
  }
  /* -------------------------------不需要列印的區塊，請放置於這----//*/
  header,
  .fatFooter,
  footer,
  .accessKey,
  .submenu {
    display: none;
  }
  /* -------------------------------各別顯示設定----//*/
  body {
    background: transparent;
    // font-size: 12pt;
    float: none;
    width: 100%;
    @extend %no-bg;
    -webkit-print-color-adjust: exact;
  }
  .container {
    margin: 0px auto;
    max-width: 100% !important;
    width: 100% !important;
    @include gutter(0);
  }
  .cp {
    @include gutter(0);
  }
  .innerPage {
    margin-top: 0 !important;
    & > .container {
      display: block !important;
      .centerBlock {
        overflow: hidden;
      }
      .leftBlock {
        float: left !important;
        width: 260px !important;
      }
    }
  }
  .main,
  .content {
    @include gutter(0);
    width: 100% !important;
    max-width: 100%;
    box-shadow: none;
    float: none;
    // font-size: 12pt;
    @include clearfix;
    @extend %no-bg;
    padding-top: 0px !important;
    img {
      &.floatLeft {
        float: right;
        max-width: 50%;
        margin: 0px 1em 1em 0;
      }
      &.floatRight {
        float: right;
        max-width: 50%;
        margin: 0px 0 1em 1em;
      }
    }
    a:link,
    a:visited,
    a {
      background: transparent;
      color: #222;
      font-weight: bold;
      text-decoration: underline;
      text-align: left;
      word-wrap: break-word;
    }
    p {
      a {
        word-wrap: break-word;
      }
      a[href^='http']:after {
        content: ' (' attr(href) ')';
        font-size: 90%;
      }
      a[href^='#']:after {
        display: none;
      }
    }
    abbr[title]:after {
      content: ' (' attr(title) ')';
    }
    table {
      background: #fff;
    }
    li {
      content: '» ';
    }
  }
  /* 檔案下載*/
  .fileDownload {
    a {
      display: block !important;
      clear: both !important;
      width: 100% !important;
    }
    .update,
    .fileView {
      float: none !important;
      width: 30% !important;
      display: inline-block !important;
      margin-left: 3em;
    }
  }
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  thead {
    display: table-header-group;
    /* 表格即使分頁也會顯示表頭 */
  }
}
